*{
    margin: 0;
    padding: 0;
}
.cor-fonte{
  color: #03045E;  
}

.cor-fundo{
    background-color: #FBF8CC;
}

.cor-detalhe{
    color: #474306;
}

.cor-fonte2{
    color: #F5EE84;
}

body {
    height: 95vh;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #FBF8CC;   
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}

.header__titulo{
    font-size: 25px;
    color: #03045E;  
}

.header__pages{
    font-size: 18px;
    display: flex;
    gap: 50px;
}

.header__pages__page{
    text-decoration: none;
    color: #03045E;
}
.header__pages__page:hover{
    text-decoration: none;
    color: #474306;
}

.header__icons {
    color: #03045E;
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.apresentacao{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    
}

.apresentacao__titulo1 {
    font-size: 25px;
    color: #03045E;
}

.apresentacao__titulo2 {
    font-size: 60px;
    font-weight: 800;
    color: #03045E;
}
.apresentacao__titulo2-1 {
    font-size: 90px;
    font-weight: 800;
    color: #03045E;
}

.apresentacao__titulo3 {
    font-size: 16px;
    color: #03045E;
}

.apresentacao__titulos {
    margin-top: 20vh;
    position: relative;
}

.foto {
    margin-top: 10vh;
    height: 450px;
}

.botao{
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #474306;
    text-decoration: none;
    color: #474306;
    position: absolute;
    z-index: 10;
    bottom: 15px;
    font-weight: 700;
}

.botao2{
    position: absolute;
    height: 45px;
    width: 118px;
    border-radius: 5px;
    background-color: #F5EE84;
    bottom: 10px;
    left: 7px;
}

p{
    font-size: 18px;
    color: #03045E;
    font-weight: 600;
    margin-top: 10px;
}


.sobre{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.sobre__principal {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.sobre__subprincipal {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-self: flex-end;
    margin-top: 8vh;
}

.sobre__titulo{
    font-size: 90px;
    font-weight: 800;
    color: #F5EE84;
}

.sobre__subtitulo{
    font-weight: 900;
    color: #03045E;
}

footer{
    display: flex;
    height: 70px;
    background-color: #474306;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

.footer__texto{
    color: #F5EE84;
    font-size: 20px;
    font-weight: 500;
}